# These settings are for any web project.
#
# Details per file setting:
#   text    These files should be normalized (i.e. convert CRLF to LF).
#   binary  These files are binary and should be left untouched.
#
# Note that binary is a macro for -text -diff.
######################################################################


# Autodetect
##   Handle line endings automatically for files detected as
##   text and leave all files detected as binary untouched.
##   This will handle all files NOT defined below.
*                   text=auto

# Source code
.lefthook/*         text eol=lf

# Doc
*.md                text diff=markdown
AUTHORS             text
CHANGELOG           text
CHANGES             text
CONTRIBUTING        text


# Graphics
*.ai                binary
*.bmp               binary
*.eps               binary
*.gif               binary
*.gifv              binary
*.ico               binary
*.jng               binary
*.jp2               binary
*.jpg               binary
*.jpeg              binary
*.jpx               binary
*.jxr               binary
*.pdf               binary
*.png               binary
*.psb               binary
*.psd               binary
*.svg               text
*.svgz              binary
*.tif               binary
*.tiff              binary
*.wbmp              binary
*.webp              binary

# Ignore files
*.*ignore         text